*.dvi
*.aux
*.fls
*.log
*.nav
*.out
*.snm
*.vrb
*.log
*.toc
Slides.synctex(busy)
Slides.toc
Slides.upa
Slides.fdb_latexmk
Slides.blg
Slides.synctex.gz
Slides.pdf
Slides_*.pdf
Slides_pdf/**
Handouts_pdf/**